body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 100%;
	color: #333333;
}
label {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}
h2, td, th {
	color: #333333;
}
.btn {
	background-color: #7CCCCB;
	color: #FBF9F4;
	border-radius: 300px;
}
.form-control {
	background-color: #C0C5C3;
}
.col-center {  
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.col-xs-1, .col-xs-4, .col-xs-5, .col-xs-7 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Navbar start */
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
	background-color: #FBF9F4;
	border-style: solid;
	border-width: 5px;
	border-color: #7CCCCB;
	color: #7CCCCB;
}

.nav>li>a.active {
	background-color: #FBF9F4;
	border-style: solid;
	border-width: 5px;
	border-color: #7CCCCB;
	color: #7CCCCB;
}

.navbar-column a {
	color: #fff;
}

.navbar-column p {
	font-size: 12px;
}

.navbar-column .hidden-xs {
	display: block !important;
}

.navbar-column {
	background-color: #7CCCCB;
	color: #fff;
	position: fixed;
	top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    overflow: auto;
    min-height: 0!important;
    width: 110px;
}

.nav {
	height: 100%;
}

.nav li {
	width: 100%;
}

/* Middle Column -- My Workouts */ 

.middle-column {
	background-color: #FBF9F4;
	color: #fff;
	padding-left: 125px;
	height: 100vh;
	overflow: scroll;
}

.middle-column h3{
	text-align: left;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.dropdown {
	position: relative;
	margin-top: -12%;
	margin-left: 92%;
	z-index: 2;
	margin-bottom: 10px;
}

.dropdown-menu {
	font-size: 5px;
	font-weight: normal;
	min-width: 125px;
	margin-left: -90px;
}

.dropdown-menu li {
	float: none;
}

.thumbnail {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	height: 13vw;
	padding: 1em;
	background-color: #F2F2F2;
	border-color: #BDBDBD;
	border-style: solid;
	border-width: 0.5px;
}

.thumbnail img {
	height: 70%;
	width: 60%;
}

.thumbnail img.add-img {
	width: 50%;
}

.thumbnail p {
	text-align: center; 
	font-size: 0.9em;
	line-height: 1.1em;
}

.thumbnail .caption {
	margin-top: 18px;
}

.top-buffer {
    margin-top: 12%;
}

.content-column {
	background-color: #FBF9F4;
	color: #fff;
	height: 100vh;
    top: 0;
    right: 0;
    z-index: 200;
    border-left-color: #eee;
    border-left-width: 3px;
    border-left-style: solid;
}

.content {
	overflow-x: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#page-layout {
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
}

/* Calendar Start */

.button img {
	height: 40px;
	cursor: pointer;
}

ul {
	text-align: center;
    overflow: auto;
    width: 100%;
    -webkit-padding-start: 0px;
}

li {
	display: inline;
	list-style-type: none;
	float: left;
    width: 33%;
    font-size: 3em;
}
.calendar-top-content li {
	margin-top: 55px;
}
#prev-button {
	text-align: left;
}

#next-button {
	text-align: right;
}

table {
	width: 100%;
}

th, td {
	width: 14.28%;
	text-align: center;
	height: 2em;
    font-size: 1.8em;
}

td {
	cursor: pointer;
}

.task {
	height: 50px;
	width: 100%;
	background-color: #696969;
	margin-bottom: 5px;
	display: flex;
    display:-webkit-flex;
    justify-content: flex-end;
    opacity: 0.8;

}

.task-name {
	margin-right: auto;
	margin-left: 1em;
	font-size: 1.5em;
    color: #000;
}

.task-name, .remove, .edit {
	align-self: center;
}

.current {
	background-color: #A7383E;
	border-radius: 50%;
	opacity: 0.6;
}

.selected { /* On default, current date should be selected */
	background-color: #A7383E;
	border-radius: 50%;
	opacity: 1 !important;
}

/* Calendar End */

/* List Content Start */
#list-content img {
	height: 25px;
	margin-right: 1em;
}


h3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	line-height: 100%;
	color: #333333;
	margin-top: 90px;
}

hr {
	width: 75%;
}

small {
	color: #4F4F4F !important;
	font-size: 50% !important;
	margin-left: 26%;
}

/*.form-control {
	width: 50%;
	margin: 0 auto;
}*/

/* Create Workout Page 1 Start */
#create-workout {
	height: 100vh;
}

#create-workout h3 {
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	line-height: 100%;
	color: #333333;
	margin-bottom: 5px;
	margin-top: 55px;
}

hr {
	border-width: 3px;
}

#create-workout .container{
	width: 100%;
	padding-left: 0px;
}
.button-container {
	margin-left: 25%;
	width: 50%;
	margin-bottom: 5%;
}

.progressbar {
	align-content: center;
}

.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 10px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
}
.progressbar li:before {
  width: 50px;
  height: 50px;
  content: "";
/*      counter-increment: step;*/
  line-height: 50px;
  border: 2px solid #F04A48;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #F04A48;
  top: 15px;
  left: -50%;
  z-index: -1;
  margin-top: 10px;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #333333;
}

.progressbar li.active:before {
  border-color: #F04A48;
  background-color: #F04A48;
}
.progressbar li.active + li:after {
  background-color: #F04A48;
}

#create-workout .size {
	width: 50%;
	margin-left: 25%;
	margin-top: 8%;
}
#create-workout input.form-control {
	font-family: 'Montserrat', sans-serif;
	opacity: 0.85;
	letter-spacing: 1px;
}

.sizing-margin	{
	margin-top: 15px;
}

#create-workout h4 {
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 20px;
}

#create-workout .lists {
	width: 50%;
	margin: 0 auto;
	height: 200px;
	overflow: scroll;
}

#create-workout .form-check {
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 400;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	border-color: #BDBDBD;
	background-color: #F2F2F2;
}
#create-workout .size-small {
	width: 100%;
}

#create-workout .resize-it {
	width: 85%;
	margin-left: 5%;
}
#create-workout .col-md-10 {
	width: 38%;
	margin-left: 25%;
}
#create-workout .col-md-1 {
	margin-left: -3%;
	margin-right: 3%;
}
#create-workout .next-button {
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
}

#create-workout .btn {
	border-radius: 300px;
}

#create-workout .size {
	width: 50%;
	margin-left: 25%;
}
#create-workout input {
	opacity: 0.8;
	letter-spacing: 1px;
}

#create-workout h4 {
	text-align: center;
	letter-spacing: 1px;
	margin: 15px auto;
}

#create-workout .lists {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 200px;
	overflow: scroll;
}

#create-workout .form-check {
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 400;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

#create-workout .size-small {
	width: 100%;
}

#create-workout .col-md-10 {
	width: 38%;
	margin-left: 25%;
}
#create-workout .col-md-1 {
	margin-left: -3%;
	margin-right: 3%;
}
#create-workout .next-button {
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
}

#create-workout .btn {
	border-radius: 300px;
}

/* Create Workout Page 2 Start */

#workout-section h4{
	margin-left: 1%;
	text-align: center;
	color: #333333;
}

#workout-section .container-fluid{
	/*height: 200px;*/
	min-height: 200px;
	background-color: #C4C4C4;
	/*opacity: 0.5;*/
	margin-left: 2%;
}

#workout-section .arrow{
	margin-left: 1%;
	margin-top: 10%;
}

#workout-section .img{
	color: #000;
	opacity: 1;
	margin-top: 10%;
}

#workout-section .thumbnail{
	color: #fff;
	opacity: 1;
	margin-top: 20px;
}

#workout-section .removing{
	width:15%; 
	height: 15%; 
	border-radius: 25px; 
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	position: relative;
	margin-left: 90%;
	margin-top: -260%;
}

#workout-section .divided{
	height: 20px;
	width: 102%;
	margin-left: -0.01%;
	margin-top: -4.1%;
	opacity: 0.8;
}
#workout-section p{
	text-align: center;
}

/*#create-workout .btn-sizing{
	font-size: 13.5px;
}*/
#create-workout .subtitle{
	text-align: left;
	margin-left: 5%;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*#create-workout-button {
	width: 150%
}*/

#create-workout .resiziing-font {
	text-align: left;
	margin-left: 0%;
	color: #333333 !important;
	font-size: 75% !important;
	letter-spacing: 1px;
}
#create-workout .container-fluid{
	min-height: 200px;
	/*height: 200px;*/
	background-color: #C4C4C4;
	/*opacity: 0.5;*/
	margin-left: 6%;
	margin-right: 6%;
}

.margin-top{
	margin-top: 7%;
}

#create-workout .divided{
	height: 25px;
	opacity: 0.8;
	min-height: 0px;
}
#create-workout .duration{
	text-align: right;
	color: #333333;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 41.5%;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup h3 {
	margin-top: 10px !important;
}

.popup h4 {
	color: #828282 !important;
}

.popup {
  margin: 70px auto;
  margin-top: 8%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 75%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 75%;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
  margin-top: 12%;
}

.popup th {
	cursor: pointer;

}
.popup th:hover {
	background-color: #333333 !important;
	color: #FBF9F4 !important;

}

.popup th:focus {
	background-color: #333333 !important;
	color: #FBF9F4 !important;

}

.popup .calendar-bottom {
	width: 75%;
	margin-left: 12.5%;
	background-color: #C4C4C4;

}

.popup .btn-sizing {
	width: 50%;
	margin-left: 25%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.fr.focus, .fr:focus, .fr:hover{
	background-color: #333333 !important;
	color: #FBF9F4 !important;
}
.popup .mg {
	margin-left: 48%;
	color: #828282;
}
.popup .mg:hover {
	text-decoration: none !important;
	color: #333333;
}
.popup .fr {
	border-radius: 0px !important;
	background-color: #C4C4C4;
	color: #333333;
	font-size: 14px !important;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
}
.popup .mg-bottom {
	margin-bottom: 30px;
}
@media (min-width: 1200px) {
	.container {
		min-width: 1400px;
		width: inherit;
		margin-left: 0px;
		margin-right: 0px;
	}

	#create-workout .lists {
		width: 50%;
	}

}

@media (max-width: 992px) {
	#create-workout .lists {
		width: 60%;
	}
	.popup{
    width: 70%;
  	}
}


@media (min-width: 992px) {
	.container {
	    min-width: 970px;
	   	width: inherit;
	}
}


@media (min-width: 768px) {
	.container {
	    min-width: 750px;
	    width: inherit;
	}
}

@media (max-width: 768px) {
	#create-workout .lists {
		width: 70%;
	}
	.popup{
    width: 70%;
  	}

}

#add-thumbnail:hover {
	background: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3) );
}

#upperBody-thumbnail:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3) );
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.inner-suggested .thumbnail {
	cursor: pointer;
}

.inner-suggested .thumbnail:hover {
	background: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3) );
}

#review-page-selected .thumbnail {
	margin-top: 5%; 
}

.selected-thumbnail {
	background: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3) );
}

#selected-exercises .thumbnail {
	position: relative;
}

#selected-exercises .thumbnail:hover {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.5) );

}

#selected-exercises .thumbnail:hover .middle {
	opacity: 1;
	cursor: pointer;
}

/* View Workouts */
/*
#playlist-section .container {
    width: 100%;
    padding-left: 10px;
}*/

#browse-suggested h3 {
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 100%;
    color: #333333;
    margin-bottom: 5px;
    margin-top: 55px;
}

#browse-suggested hr {
    width: 75%;
    border-width: 3px;
}

#suggested-section h3{
    text-align: left;
    letter-spacing: 2px;
    margin-top: 10px;
    letter-spacing: 0px;
}

#suggested-section hr{
    border-width: 1px;
    width: 98%;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#playlist-section h4{
    margin-left: 1%;
    text-align: left;
    color: #333333;
}

#playlist-section hr{
    border-width: 2px;
    width: 98%;
    margin-left: 0px;
    margin-bottom: 10px;
}

#each-exercise h5{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #828282;
    margin-top: 20px;
    margin-left: 80px;
    letter-spacing: 2px;
}

#each-exercise hr{
    border-width: 1px;
    width: 98%;
    margin-left: 0px;
}

/*#playlist-section .arrow{
    margin-left: 1%;
    margin-top: 10%;
}*/

#playlist-section .img{
    color: #000;
    opacity: 1;
    margin-top: 10%;
}

#playlist-section .thumbnail{
    color: #fff;
    opacity: 1;
    margin-top: 3.5%;
}

.margin-top{
    margin-top: 7%;
}

/* View Existing Playlist */
#playlist-section h4{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 100%;
    /*color: #828282;*/
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

#playlist-section h5{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #828282;
    margin-top: 60px;
    letter-spacing: 2px;
}

#playlist-section p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #828282;
    margin-top: 6px;
}

#playlist-section .thumbnail img {
    height: 100%;
    width: 100%;
}


.middle {
  /*transition: .5s ease;*/
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  text-transform: uppercase;
}

.text {
	text-align: center;
	color: #fff;
}

.empty-div {
	text-align: center; 
	margin-top: 12%;
}

input:focus, button:focus {
    outline: none;
}

.duration-row {
	clear: both;
}

.highlight {
	background-color: #333333 !important;
    color: #FBF9F4 !important;
}

.success-box {
	display: none;
	text-align: center; 
	margin-bottom: 20px;
    padding: 20px;
    background-color: #7CCCCB;
    /*border-radius: 30px;*/
    color: #fcfcfd;
    font-size: 18px;
}
