.navbar {
	width: 6%;
}

.navbar .navbar-nav p {
	font-size: 12px !important; 
}

.logo img {
	width: 40px;
	height: 40px;
}

/*#my-workout {
	height: 100vh;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e7e7e7;

}*/

#my-workout p {
	line-height: 1.4em;
	font-size: 28px;
	font-weight: 600;
	margin-top: 25%;
	margin-left: -4%;
	letter-spacing: 2px;
}

#my-workout small {
	margin-left: 10%;
	font-size: 14px;
	line-height: 1.6180em;
	font-weight: 400;
	letter-spacing: 0.5px;
}

#my-workout .dropdown {
	position: relative;
	margin-top: -12%;
	margin-left: 82%;
	z-index: 2;
}

#my-workout .dropdown-menu {
	top: 140%;
	left: -180%;
}

#my-workout .row {
	height: auto !important;
	margin-right: 10%;
	margin-top: 15%;
}

#my-workout img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

#my-workout .caption p {
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}



#create-workout {
	height: 100vh;
}

#create-workout h3 {
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5%;
}

#create-workout .container{
	width: 100%;
	margin-top: 8%;
	margin-bottom: 8%;
}

.progressbar {
	align-content: center;
	margin-left: -8%;
	margin-right: -7%;
}
.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 10px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 50px;
  height: 50px;
  content: "";
/*      counter-increment: step;*/
  line-height: 50px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

#create-workout .size {
	width: 50%;
	margin-left: 25%;
}
#create-workout input {
	opacity: 0.8;
	letter-spacing: 1px;
}

#create-workout h4 {
	text-align: center;
	letter-spacing: 1px;
}

#create-workout .lists {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 200px;
	overflow: scroll;
}

#create-workout .form-check {
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 400;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

#create-workout .size-small {
	width: 100%;
/*	margin-left: 25%;*/
}

#create-workout .resize-it {
/*	width: 40%;*/
/*	margin-left: 30%;*/
}
#create-workout .col-md-10 {
	width: 38%;
	margin-left: 25%;
}
#create-workout .col-md-1 {
	margin-left: -3%;
	margin-right: 3%;
}
#create-workout .next-button {
	width: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
}

#create-workout .btn {
	border-radius: 300px;
}

#workout-section h4{
	margin-left: 1%;
	text-align: left;
}

#workout-section .container-fluid{
	height: 200px;
	background-color: #C4C4C4;
	opacity: 0.5;
	margin-left: 2%;
}

#workout-section .arrow{
	margin-left: 1.17%;
	margin-top: 10%;
}
#workout-section .img{
	color: #000;
	opacity: 1;
	margin-top: 10%;
}
#workout-section .thumbnail{
	color: #fff;
	opacity: 1;
	margin-top: 7%;
}

#workout-section .removing{
	width:15%; 
	height: 15%; 
	border-radius: 25px; 
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	position: relative;
	margin-left: 90%;
	margin-top: -260%;
}
#workout-section .divided{
	height: 20px;
	width: 102%;
	margin-left: -0.01%;
	margin-top: -4.1%;
	opacity: 0.8;
}
#workout-section p{
	text-align: center;
}
#create-workout {
	height: 100vh;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e7e7e7;

}