.navbar {
	width: 6%;
}

.navbar .navbar-nav p {
	font-size: 12px !important; 
}

.logo img {
	width: 40px;
	height: 40px;
}

#my-workout {
	height: 100vh;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e7e7e7;

}

#my-workout p {
	line-height: 1.4em;
	font-size: 28px;
	font-weight: 600;
	margin-top: 25%;
	margin-left: -4%;
	letter-spacing: 2px;
}

#my-workout small {
	margin-left: 10%;
	font-size: 14px;
	line-height: 1.6180em;
	font-weight: 400;
	letter-spacing: 0.5px;
}

#my-workout .dropdown {
	position: fixed;
	margin-top: -3.4%;
	margin-left: 22%;
	z-index: 2;
}

#my-workout .dropdown-menu {
	top: 140%;
	left: -350%;
}

#my-workout .row {
	height: auto !important;
	margin-right: 10%;
	margin-top: 15%;
}

#my-workout img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

#my-workout .caption p {
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}



#create-workout {
	height: 100vh;
}

#create-workout h3 {
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5%;
}

#create-workout .container{
	width: 100%;
	margin-top: 8%;
	margin-bottom: 8%;
}

.progressbar {
	align-content: center;
	margin-left: -8%;
	margin-right: -7%;
}
.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 10px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 50px;
  height: 50px;
  content: "";
/*      counter-increment: step;*/
  line-height: 50px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

#create-workout .size {
	width: 50%;
	margin-left: 25%;
}
#create-workout input {
	opacity: 0.8;
	letter-spacing: 1px;
}

#create-workout h4 {
	text-align: center;
	letter-spacing: 1px;
}



